EXPO_PUBLIC_API_BASE_URL=http://127.0.0.1:8000/api/v1
EXPO_PUBLIC_API_TIMEOUT_MS=15000
EXPO_PUBLIC_APP_ENV=development
EXPO_PUBLIC_GOOGLE_EXPO_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
EXPO_PUBLIC_FIREBASE_PROJECT_ID=pendezaconnect
EXPO_PUBLIC_FIREBASE_PROJECT_NUMBER=887994843584
EXPO_PUBLIC_FIREBASE_ANDROID_APP_ID=1:887994843584:android:4daf5118fa782401f1c825
EXPO_PUBLIC_FIREBASE_ANDROID_PACKAGE=org.pendeza.connect
